@import "tailwindcss";

@theme {
  --color-palette-black: #222831;
  --color-palette-gray: #393E46;
  --color-palette-teal: #00ADB5;
  --color-palette-white: #EEEEEE;
  --color-palette-red: #E85A71;
  --color-palette-pink: oklch(83.3% 0.145 321.434)

}